Repository KinsonDigital/KDActionUtils, pull requests merged in 2022-08, with the labels that each got.

#6 Update issue and PR templates
  .github/ISSUE_TEMPLATE/bug-issue-template.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request-issue-template.yml
  .github/ISSUE_TEMPLATE/project-item-issue-template.yml
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
  .github/ISSUE_TEMPLATE/research-issue-template.yml
  .github/PULL_REQUEST_TEMPLATE/feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/production-release-pr-template.md
  Documentation/Branching.md
Labels: good first issue, high priority, preview, tech debt, 📝documentation/product

#8 Update Code of Conduct
  code_of_conduct.md
Labels: good first issue, medium priority, preview, 📝documentation/product

#9 Fix release todo issue template
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
Labels: good first issue, high priority, preview, tech debt, 📝documentation/product

#13 Update release todo template
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
Labels: good first issue, high priority, preview, 📝documentation/product

#12 Update branching docs
  Documentation/Branching.md
Labels: good first issue, high priority, preview, 📝documentation/product

#20 Setup release workflows to do GitHub releases
  .github/workflows/preview-release.yml
  .github/workflows/production-release.yml
  .vscode/settings.json
Labels: medium priority, preview, workflow

#22 Add 2 tasks to PR templates
  .github/PULL_REQUEST_TEMPLATE/feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/production-release-pr-template.md
Labels: good first issue, medium priority, preview, 📝documentation/product

#25 Remove issue and pr templates
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug-issue-template.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request-issue-template.yml
  .github/ISSUE_TEMPLATE/project-item-issue-template.yml
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
  .github/ISSUE_TEMPLATE/research-issue-template.yml
  .github/PULL_REQUEST_TEMPLATE/feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/production-release-pr-template.md
Labels: high priority, preview, 📝documentation/product

#26 Implement BranchValidator action into release workflows
  .github/workflows/preview-release.yml
Labels: high priority, preview, workflow, 🔗has dependencies

#28 Implement BranchValidator action into production workflow
  .github/workflows/preview-release.yml
  .github/workflows/production-release.yml
Labels: high priority, preview, workflow, 🔗has dependencies
